#section1{   
   background-color: green;
   float: left;
}
#section2{   
   background-color: red;
   float: right;
}
#clear{
   clear: both;
}
#section3{   
   background-color: yellow;
}